# 1. Declare three variables and print them

In [1]:
name = "Pranjal"
age = 18
course = "Data Analytics"
print("Name:", name)
print("Age:", age)
print("Course:", course)

Name: Pranjal
Age: 18
Course: Data Analytics

# 2. Perform basic arithmetic operations

In [2]:
a = 15
b = 4
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75

# 3. Show floor division, modulus, and exponentiation

In [3]:
print("Floor Division:", a // b)     
print("Modulus:", a % b)           
print("Exponentiation:", a ** b)

Floor Division: 3
Modulus: 3
Exponentiation: 50625

# 4. Demonstrate assignment operators

In [4]:
x = 10
print("Initial value:", x)
x += 5
print("After +=5:", x)
x -= 3
print("After -=3:", x)
x *= 2
print("After *=2:", x)
x /= 4
print("After /=4:", x)

Initial value: 10
After +=5: 15
After -=3: 12
After *=2: 24
After /=4: 6.0

# 5. Comparison operators

In [5]:
num1 = 25
num2 = 40
print("Equal:", num1 == num2)
print("Not Equal:", num1 != num2)
print("Greater Than:", num1 > num2)
print("Less Than:", num1 < num2)
print("Greater or Equal:", num1 >= num2)
print("Less or Equal:", num1 <= num2)

Equal: False
Not Equal: True
Greater Than: False
Less Than: True
Greater or Equal: False
Less or Equal: True

# 6. Area of a rectangle

In [6]:
length = 5
breadth = 10
area = length * breadth
print("Area of rectangle:", area)

Area of rectangle: 50

# 7. Check if first number is greater

In [7]:
first = 14
second = 9
if first > second:
    print("First number is greater than the second.")
else:
    print("First number is not greater than the second.")

First number is greater than the second.

# 8. Marks total and average

In [8]:
subject1 = 88
subject2 = 76
subject3 = 90
total_marks = subject1 + subject2 + subject3
average_marks = total_marks / 3
print("Total Marks:", total_marks)
print("Average Marks:", average_marks)

Total Marks: 254
Average Marks: 84.66666666666667

# 9. Print memory address using id()

In [10]:
adr = "data"
print("Memory address of sample_var:", id(adr))

Memory address of sample_var: 140714996943560

# 10. Display data types using type()

In [11]:
print("Type of name:", type(name))
print("Type of age:", type(age))
print("Type of course:", type(course))
print("Type of average_marks:", type(average_marks))

Type of name: <class 'str'>
Type of age: <class 'int'>
Type of course: <class 'str'>
Type of average_marks: <class 'float'>