In [20]:
print("Welcome To Today's Class")

Welcome To Today's Class

In [57]:
#conditional statement
x=5
if x>0:
       print("positive")

positive

In [58]:
#check a no is even or odd?
num=input("enter number:")
if num%2==0:
    print("even")
else:
    print("odd")

enter number: 12

TypeError: not all arguments converted during string formatting

In [59]:
num=input("enter number:")
print(type(num))

enter number: 13

<class 'str'>

In [62]:
a="45"
print(type(a))

<class 'str'>

In [63]:
print(a*2)

4545

In [64]:
a=int(a)
print(a)
print(type(a))

45
<class 'int'>

In [66]:
a=input("enter value")
print(type(a))

enter value 67

<class 'str'>

In [68]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1*num2)

enter a number 10
enter a number 3

30

In [69]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1+num2)

enter a number 5
enter a number 10

15

In [70]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1-num2)

enter a number 10
enter a number 5

5

In [71]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1/num2)

enter a number 5
enter a number 10

0.5

In [72]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1//num2)

enter a number 10
enter a number 5

2

In [73]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1%num2)

enter a number 10
enter a number 5

0

In [75]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1<10 and num2>5)

enter a number 9
enter a number 7

True

In [76]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1<10 or num2>5)

enter a number 9
enter a number 7

True

In [77]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1^num2)

enter a number 5
enter a number 10

15

In [82]:
print(bin(num1))
print(bin(num2))

0b101
0b1010

In [81]:
print(bin(num1 ^ num2))

0b1111

In [83]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
print(num1*num2)
multiply=(num1*num2)

enter a number 2
enter a number 3

6

In [86]:
print(f"Multiply of {a} and {b} is{multiply}")

Multiply of 67 and 7 is6

In [88]:
print("multiply is", multiply)

multiply is 6

In [91]:
num=float(input("enter number: "))
if num>0:
    print("positive")
else:
    print("negative")

enter number:  -9

negative

In [93]:
num=int(input("enter value"))
if num%2==0 :
    print("even")
else :
    print("odd")

enter value 136

even

In [98]:
num=int(input("ennter value"))
if num>0 :
    print("positive")
    if num%2==0 :
        print("even")
    else :
        print("odd")
else:
    print("negative")

ennter value -2

negative

In [103]:
user= input("enter username")
password= input("enter password")
if user == "abc" and password == "1234":
                            print("login")
else:
    print("invalid")

enter username abc
enter password 1234

login

In [105]:
print(" oki doki \n boki")

 oki doki
 boki

In [1]:
user = "admin"
password = 123

In [3]:
#grading system
marks=int(input("enter the marks"))
if marks>75 :
    print("A")
elif marks>=60 and marks<=75:
    print("B")
elif marks<60 and marks>=45:
    print("C")
elif marks<45 and marks>=30:
    print("D")
else:
  print("FAIL")

enter the marks 50

C

In [4]:
num=5
print(num*1)
print(num*2)
print(num*3)
print(num*4)
print(num*5)
print(num*7)
print(num*8)
print(num*9)
print(num*10)

5
10
15
20
25
35
40
45
50

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
sum = 0
for i in range(1,11):
    sum+=i
print(sum)

55

In [15]:
sal=int(input("enter salary"))
if sal>75000:
    sal= sal - (sal*0.10)
    print("your salary is" ,sal)
elif sal>55000 and sal<75000:
    sal= sal - (sal*0.07)  
    print("your salary is" ,sal)
elif sal>35000 and sal<50000:
    sal= sal - (sal*0.05)
    print("your salary is" ,sal)
else:
 print("no deduction")

enter salary 20000

no deduction

In [1]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [7]:
a = int(input("enter a number"))
start = 1
while start <=10:
              print(a*start)
              start+=1

enter a number 78

78
156
234
312
390
468
546
624
702
780

In [8]:
a=int(input("enter the number"))
for i in range(1,11):
    print(f"{a} * {i} = {a*i}")

enter the number 56

56 * 1 = 56
56 * 2 = 112
56 * 3 = 168
56 * 4 = 224
56 * 5 = 280
56 * 6 = 336
56 * 7 = 392
56 * 8 = 448
56 * 9 = 504
56 * 10 = 560

In [9]:
for i in range (0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
print(10//3)

3

In [18]:
for i in range(3):
  if i==1:
      continue
         print(i)

IndentationError: unexpected indent (293202574.py, line 4)

In [13]:
if 1:
    print("go")

go

In [22]:
print (True and False)

False

In [2]:
for i in range(10):
    if i==5:
       continue
    print(i)

0
1
2
3
4
6
7
8
9

In [5]:
a=int(input("enter no."))
if a%3==0 and a%7==0:
      print(a,"is divisible by 3 and 7")
else:
      print(a,"is not divisible by 3 and 7")

enter no. 5

5 is not divisible by 3 and 7

In [8]:
for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [11]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a > b:
    if a > c:
        print("The greatest number is:", a)
    else:
        print("The greatest number is:", c)
else:
    if b > c:
        print("The greatest number is:", b)
    else:
        print("The greatest number is:", c)

enter a number 56
enter a number 67
enter a number 78

The greatest number is: 78

In [12]:
a = 50
while a >= 1:
    print(a)
    a -= 1

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
X= int(input("enter a number"))
for i in range(1,11):
     print(X, "x" ,i, "=", X*i)

enter a number 87

87 x 1 = 87
87 x 2 = 174
87 x 3 = 261
87 x 4 = 348
87 x 5 = 435
87 x 6 = 522
87 x 7 = 609
87 x 8 = 696
87 x 9 = 783
87 x 10 = 870

In [21]:
count = 0
for z in range(1, 101):
    if z % 5 == 0:
        count += 1
print("Total numbers divisible by 5 between 1 and 100:", count)

Total numbers divisible by 5 between 1 and 100: 20

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

In [1]:
n1=14
n2=10
def add():
    print(f"addition of {n1} & {n2} ={n1+n2}")
add()

addition of 14 & 10 =24

In [2]:
oki=int(input("enter the number"))
doki=int(input("enter the number"))
def add():
    print(f"addition of {oki} & {doki} ={oki+doki}")
add()

enter the number 3
enter the number 6

addition of 3 & 6 =9

In [3]:
#positional arguments
def add (a=7,b):
    print(a+b)
add(10,20)

SyntaxError: parameter without a default follows parameter with a default (1992965858.py, line 2)

In [4]:
#creaate a fun to check no iss even or odd
a=int(input("enter a no:"))
def eo(a):
    if a%2==0:
        print(a ,"is even")
    else:
        print(a,"is odd")
eo(a)

enter a no: 8

8 is even

In [5]:
def info():
    global name,surname
    name='Sahil'
    surname='Hooda'
    print(f'name of the person is {name} {surname}')
info()

name of the person is Sahil Hooda

In [6]:
def name():
    print('we are in outer function')
    def full_name():
        print('we are in inner function')
    full_name()

In [7]:
name()

we are in outer function
we are in inner function

In [8]:
def mul(a,b):
    c=a*b
    print(c)
z=mul(7,9)
print(z)

63
None

In [9]:
def name():
    print('we are in outer function')
    def full_name():
        print('we are in inner function')
    return full_name()
inner_func=name()

we are in outer function
we are in inner function

In [10]:
inner_func()

TypeError: 'NoneType' object is not callable

In [11]:
#create a fun to find the factorial of a no
a=int(input('enter the no:'))
def fact():
    fact=1
    for i in range(1, a + 1):
           fact *= i
    print(f"the fact {a} is:{fact}")
fact()

enter the no: 6

the fact 6 is:720

In [12]:
def outer():
    print('you are in outer function')
    def inner():
        print('you are in inner function')
    return inner
outer()
access_inner=outer()

you are in outer function
you are in outer function

In [13]:
access_inner()

you are in inner function

In [14]:
def add(x,y):
    z=x+y
    print(z)
access=add(78,1)
print(access)
def add(x,y):
     z=x+y
     return z
acs=add(78,1)
print(acs)

79
None
79

In [15]:
#lamda arguments
mul=lambda a,b:a*b
mul(9,6)

54

In [16]:
square=lambda x:x**2
square(9)

81

In [17]:
mul=lambda a,b:a*b+a+b+a-b
mul(9,6)

72

In [18]:
#create a fun to find the sum of all natural no between 1 to 5
def sum(a,b):
    sum=0
    for i in range(a,b):
        sum+=i
    print(sum)
sum(1,5)

10

In [19]:
#create a fun to find the sum of all natural no between 1 to 5
def sum_odd(a,b):
    sum=0
    for i in range(a,b):
            if i%2!=0:
                sum+=i
    print(sum)
sum_odd(1,5)

4

In [21]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [22]:
factorial(5)

120

In [23]:
def sum_odd_transc(transcations,lower,higher):
    total=0
    for amount in transactions:
        if lower<=amount <=higher and amount%2!=0:
            total+=amount
        return total

In [24]:
transactions=[129,135,756,78,79,450,751,889,999,1009]
result=sum_odd_transc(transactions,100,900)

In [25]:
print(result)

129

In [26]:
x=[12,1]

In [27]:

def atm_menu():
    balance=1000
    pin=0000

        
    def check_bal():
        pincode=int(input("Enter Your Pin code"))
        if pin==pincode:
            print(f"Your Current Balance is {balance}")
        else:
            print("invalid Pincode")
        
    def deposit():
        amt=float(input("Enter amount:"))
        nonlocal balance
        balance+=amt
        print("Deposit Successful")
        print(f"Your current balance is {balance}")
        
    def withdraw():
        amt=float(input("Enter amount:"))
        nonlocal balance
        if amt>balance:
            print("Insufficient Balance")
        else:
            balance-=amt
            print("Withdraw Successful")
            print(f"Your current balance is {balance} ")
    print("Welcome to Pyhton ATM")
    while True:

        print("\nPlease select an option:")
        print("1. Check Balance")
        print("2. Deposit Money")
        print("3. Withdraw Money")
        print("4. Exit")

        option=input("Enter Option ")
        if option=="1":
            check_bal()
        if option=="2":
            deposit()
        if option=="3":
            withdraw()
        if option=="4":
            print("Thank You For Using Python ATM")
            break

atm_menu()

Welcome to Pyhton ATM

Please select an option:
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Enter Option  2
Enter amount: 90000

Deposit Successful
Your current balance is 91000.0

Please select an option:
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit

Enter Option  4

Thank You For Using Python ATM

In [30]:
a=[1,2,3,4,5]
for i in a:
    print(i**2)

1
4
9
16
25

In [33]:
s="education"
l=[char for char in s if char in "aeiouAEIOU"]
print(l)

['e', 'u', 'a', 'i', 'o']

In [34]:
days=("mon","tue","wed","thurs","fri","sat")
print(days[0])

mon

In [35]:
print(days[2])

wed

In [36]:
print(days[1:3])

('tue', 'wed')

In [37]:
#DATA TYPES-
#MUTABLE VS IMMUTABLE

#STRING- GROUP OF CHARACHTERS
#IMMUTABLE
name="Sparsh"
print(name)

Sparsh

In [38]:
print(len(name))

6

In [39]:
a='123'
print(a)
print(id(a))
a=a[::-1]
print(a)
print(id(a))

123
2912177271312
321
2912181280208

In [40]:
a="Name"
print(id(a))
print(a)
a=a.lower()
print(id(a))
print(a)

2912088476624
Name
2912725554000
name

In [41]:
s1="india"
s2=3
print(s1*s2)

indiaindiaindia

In [42]:
#ordinal value o each charchter (which decide greater)
print(ord("a"))
print(ord("z"))
print(ord("A"))
print(ord("Z"))
print("a"<"A")

97
122
65
90
False

In [43]:
s1="india"
s2=3.5
s3=s1*s2
print(s3)

TypeError: can't multiply sequence by non-int of type 'float'

In [44]:
#min function
s="india"
print(min(s))   #gives min char
for i in s: 
    print(i)

a
i
n
d
i
a

In [45]:
print(max(s))

n

In [46]:
#min function
s="india"
print(min(s))   #gives min char
for i in s: 
    print(i,end=" ")

a
i n d i a

In [47]:
s="DATA ANALYTICS"
print(s)
s.lower()
s2=s.lower()
print(s2)

DATA ANALYTICS
data analytics

In [48]:
s="DATA ANALYTICS"
s1=s.swapcase()
print(s1)
s.lower()
s2=s.lower()
print(s2)

data analytics
data analytics

In [49]:
s="arpita"
print(s)
print(s.replace("a","s"))

arpita
srpits

In [50]:
#strip
s=" virat kholi "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

virat kholi
virat kholi
 virat kholi

In [51]:
#example
u=input("Enter username:")
p=input("Enter your password:")
u=u.strip()
u=u.lower()
if u=="india" and p=="bharat":
    print("login succefully")
else:
    print("enter valid details")

Enter username: india
Enter your password: piku

enter valid details

In [52]:
s="python"
print("on" in s)

True

In [53]:
print("to" in s)

False

In [54]:
print("t","o" in s)

t True

In [55]:
s="+91997865265"
print(s.startswith("+91"))

True

In [56]:
s="abc.jpg"
print(s.endswith("jpg"))

True

In [57]:
print(chr(97))

a

In [58]:
print(23+32+14/2*3)

76.0

In [59]:
a=eval(input("enter your expression"))
print(a)

enter your expression 23+23+12/3

50.0

In [60]:
s = "India"
reversed_str = ""
for i in s:
    reversed_str = i + reversed_str
print(reversed_str)

aidnI

In [61]:
s = "India"
reversed_str = ""
for i in s:
    reversed_str = i + reversed_str
def is_palindrome(n):
    str_n = str(n)
    reversed_str = ""
if is_palindrome(s):
    print(f"{s} is a palindrome!")
else:
    print(f"{s} is not a palindrome.")

India is not a palindrome.

In [62]:
s="india"
print(s[0])
print(s[-1])
print(s[-4])

i
a
n

In [63]:
#slicing
print(s[0:3:1])

ind

In [64]:
print(s[1:3])

nd

In [65]:
s=["sonu","monu","riya",12,15.0,(1,23)]
print(s)

['sonu', 'monu', 'riya', 12, 15.0, (1, 23)]

In [66]:
print(s[0])
print(s[-1])

sonu
(1, 23)

In [67]:
#list methods
#append- use to add elements at last index
s.append("Abhishek")
print(s)

['sonu', 'monu', 'riya', 12, 15.0, (1, 23), 'Abhishek']

In [68]:
s.insert(0,"Hello")
print(s)

['Hello', 'sonu', 'monu', 'riya', 12, 15.0, (1, 23), 'Abhishek']

In [69]:
s=["Hello","sonu","monu","riya",12,15.0,(1,23)]
s.append("tea")
s.insert(1,"juice")
s.remove("Hello")
s.pop()
s.count("Hello")
s.index("monu")

print(s)

['juice', 'sonu', 'monu', 'riya', 12, 15.0, (1, 23)]

In [71]:
s.clear()
print(s)

[]

In [72]:
#q.create a list of square value from 1 to 100
square=[x**2 for x in range(1,11)]

In [73]:
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
s=[1,2,3,4,5]
for i in s:
    print(i**2)

1
4
9
16
25

In [75]:
s=[]
for i in range(1,11):
    s.append(i**2)
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
s=[]
for i in range(1,11):
    s.append(i**3)
print(s)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [77]:
for day in days:
    print(day)

mon
tue
wed
thurs
fri
sat

In [78]:
tup=("A","B",10,10.2)
print(tup)

('A', 'B', 10, 10.2)

In [85]:
#dictionary--store data in pair of key and values
#mutable
student ={
    'name':'pihu',
    "age": 18,
    "city": "delhi"
}
print(student)

{'name': 'pihu', 'age': 18, 'city': 'delhi'}

In [86]:
#access values using key
print(student["name"])
print(student.get("marks"))
#add or remove or modify entries
student["marks"]=95
student["age"]=22

pihu
None

In [87]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'city', 'marks'])
dict_values(['pihu', 22, 'delhi', 95])
dict_items([('name', 'pihu'), ('age', 22), ('city', 'delhi'), ('marks', 95)])

In [88]:
print(10/0)

ZeroDivisionError: division by zero

In [89]:
# Fix: Avoid division by zero by either:
# 1. Using a non-zero denominator
print(10/2)  # Using 2 instead of 0

# Or 2. Adding a check to prevent division by zero
denominator = 0
if denominator != 0:
    print(10/denominator)
else:
    print("Cannot divide by zero")

5.0
Cannot divide by zero

In [90]:
print('hi')
x=[10,20,30,40]
index=int(input("enter index[0-3]"))
print(x[index])
print('bye')

hi

enter index[0-3] 2

30
bye

In [98]:
print('hi')
x=[10,20,30,40]
try:
    index=int(input("enter index[0-3]"))
    print(x[index])
except IndexError:
    print("invalid index,using 0 as alternate index")
    index=0
except ValueError:
     print("invalid index,using -1 as alternate index")
     index=1
print('bye',index)

hi

enter index[0-3] u

invalid index,using -1 as alternate index
bye 1

In [99]:
print('hi')
x=[10,20,30,40]
try:
    index=int(input("enter index[0-3]"))
    print(x[index])
except IndexError:
    print("invalid index,using 0 as alternate index")
    index=0

hi

enter index[0-3] 2

30

In [101]:
print(1)
try:
    print(2/0)
except ZeroDivisionError:
    print("division by 0 is not possible")

1
division by 0 is not possible

In [102]:
import math

In [103]:
math.sqrt(9)

3.0

In [104]:
import random

In [111]:
random.randint(1,1000)

602

In [117]:
n1=random.randint(1,99)
attempt=0
guess=None
while guess!=n1:
     guess=int(input("enter ur number"))
    attempt+=1
     if guess<n1:
        print("matched u won")
     elif
     else:
         print("enter again")

SyntaxError: invalid syntax (1883271264.py, line 7)